<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Business case for Accident Statistics</h2>
<ul>
  <li>
    <p>The business case for accident data can be a visual map of hotspots, a query tool for interrogating information or simply describing what happened with filtered data.</p>
    <p>Below are examples of 3 such components, the same components configured to show different data or perspectives on certain information.</p>
    <p>Make a point of utilising the developer tools to see the network activity and refresh the page to see the data optimisation the browser cache, or etag caching for 5 minutes at a time.</p>
    <p>Monitor the console running the Api and make sure that the data is retreived from the cache once loaded from the server, therfore placing less of a strain on the TFL website</p>
  </li>
  <li>
    <p>These are examples of the component types based on the colour, orange being a map type, yellow being a query type and finally red being the list component.</p>
      <dl>
        <dt>
            <app-accident-statistic-map fromDate="Jan 1, 2010, 12:00:00 AM" imageOption="Macabre" severityOption="Fatal" zoom="11"></app-accident-statistic-map>
        </dt>
        <dt>
            <app-accident-statistic-map fromDate="Dec 1, 2017, 12:00:00 AM" imageOption="Friendly" severityOption="Serious" zoom="9"></app-accident-statistic-map>
        </dt>
        <dt>
            <app-accident-statistic-map fromDate="Dec 15, 2017, 12:00:00 AM" imageOption="Heatmap" severityOption="Slight" zoom="10" useGeolocationPosition="true"></app-accident-statistic-map>
        </dt>
        <dt>
            <app-accident-statistic-query severityOption="Fatal"></app-accident-statistic-query>
        </dt>
        <dt>
            <app-accident-statistic-list severityOption="Fatal" fromDate="Dec 1, 2017, 12:00:00 AM" orderByOption="DateDescending" showJson="true"></app-accident-statistic-list>
        </dt>
        <dt>
            <app-accident-statistic-list severityOption="Fatal" fromDate="Dec 1, 2017, 12:00:00 AM" orderByOption="DateAscending"></app-accident-statistic-list>
        </dt>
        <dt>
            <app-accident-statistic-list severityOption="Fatal" fromDate="Dec 1, 2017, 12:00:00 AM" orderByOption="LocationAscending"></app-accident-statistic-list>
        </dt>
        <dt>
            <app-accident-statistic-list severityOption="Fatal" fromDate="Dec 1, 2017, 12:00:00 AM" orderByOption="LocationDescending"></app-accident-statistic-list>
        </dt>
        <dt>
          <app-accident-statistic-list severityOption="Serious" fromDate="Dec 24, 2017, 12:00:00 AM"></app-accident-statistic-list>
        </dt>
      </dl>
  </li>

</ul>

<router-outlet></router-outlet>
