<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
  <li>
      <app-accident-statistic-map fromDate="Jan 1, 2010, 12:00:00 AM" imageType="macabre" severityOption="Fatal"></app-accident-statistic-map>
  </li>
  <li>
      <app-accident-statistic-map fromDate="Jan 1, 2017, 12:00:00 AM" imageType="friendly" severityOption="Serious"></app-accident-statistic-map>
  </li>
  <li>
      <app-accident-statistic-map fromDate="Dec 1, 2017, 12:00:00 AM" imageType="heatmap" severityOption="Slight"></app-accident-statistic-map>
  </li>
  <li>
      <app-accident-statistic-summary severityOption="Fatal"></app-accident-statistic-summary>
  </li>
  <li>
    <app-accident-statistic-list severityOption="Fatal" fromDate="Dec 1, 2017, 12:00:00 AM" orderByOption="DateDescending" showJson="true"></app-accident-statistic-list>
  </li>
  <li>
    <app-accident-statistic-list severityOption="Fatal" fromDate="Dec 1, 2017, 12:00:00 AM" orderByOption="DateAscending"></app-accident-statistic-list>
  </li>
  <li>
    <app-accident-statistic-list severityOption="Fatal" fromDate="Dec 1, 2017, 12:00:00 AM" orderByOption="LocationAscending"></app-accident-statistic-list>
  </li>
  <li>
    <app-accident-statistic-list severityOption="Fatal" fromDate="Dec 1, 2017, 12:00:00 AM" orderByOption="LocationDescending"></app-accident-statistic-list>
  </li>
  <li>
    <app-accident-statistic-list severityOption="Serious" fromDate="Dec 24, 2017, 12:00:00 AM"></app-accident-statistic-list>
  </li>
</ul>

<router-outlet></router-outlet>
