<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TFLApiBaseUrl" value="https://api.tfl.gov.uk"/>
  </appSettings>
  <system.net>    
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false"/>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>