.accident-statistics-list {
  border: 1px red solid;
  margin: 10px;
  padding: 10px;
  text-align: left; }

.map {
  border: 1px orange solid;
  margin: 10px;
  padding: 10px; }

.leaflet-container {
  height: 300px;
  width: 80%;
  margin: 0 auto; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

time {
  font-weight: bold; }

.hidden {
  display: none; }

.app {
  text-align: center; }

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px; }

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.app-title {
  font-size: 1.5em; }

.app-intro {
  font-size: large; }

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
