<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GitApiBaseUrl" value="https://api.github.com"/>
    <add key="TFLApiBaseUrl" value="https://api.tfl.gov.uk"/>
    <add key="OAuthToken" value="04f6d01f2f56627c700b09570e1d4ad159b0ee00"/>
  </appSettings>
  <system.net>    
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false"/>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>