<section class="accident-summary">
  <form [formGroup]="accidentStatisticsForm">
    <header>
      <h1>Accident Statistics Count Component</h1>
    </header>
    <fieldset>
      <label for="from">From:
        <input name="from" type="date" formControlName="from" useValueAsDate />
      </label>
      <label for="to">To:
        <input name="to" type="date" formControlName="to" useValueAsDate />
      </label>
      <label for="severity">Severity:
        <select name="severity" formControlName="severity">
          <option value="Serious">Serious</option>
          <option value="Slight">Slight</option>
          <option value="Fatal">Fatal</option>
        </select>
      </label>
    </fieldset>
    <fieldset *ngIf="((pagedAccidentStatistics$|async))">
      <label for="out-json">Summary JSON ({{pagedAccidentStatistics?.total}}) :
        <pre *ngIf="error" class="error">{{error|json}}</pre>
        <pre name="out-json" class="result">{{pagedAccidentStatistics|json}}</pre>
      </label>
    </fieldset>
  </form>
</section>
