<section>
  <form [formGroup]="accidentStatisticsForm">
      <header>
          <h1>Accident Statistics Count Compontent</h1>
      </header>
    <fieldset>
      <label for="from">From:
        <input name="from" type="date" formControlName="from" useValueAsDate />
      </label>
      <label for="to">To:
        <input name="to" type="date" formControlName="to" useValueAsDate />
      </label>
      <label for="severity">Severity:
        <select name="severity" formControlName="severity">
          <option value="Serious">Serious</option>
          <option value="Slight">Slight</option>
          <option value="Fatal">Fatal</option>
        </select>
      </label>
      <pre *ngIf="error" style="background-color: orange; font-style: italic;">{{error|json}}</pre>
      <pre>{{(pagedAccidentStatistics$|async)|json}}</pre>
    </fieldset>
  </form>
</section>