.accident-summary {
  border: 1px grey dashed;
  padding: 5px;
}

.error
 {
  background-color: orange;
  font-style: italic;
 }

 fieldset {
  border: 1px grey dotted;
  margin: 5px;
 }

 .result
 {
  background-color: honeydew;
 }
