<section>
  <fieldset>
    <label for="from">From:
      <input type="datetime" name="from" formControlName="from" placeholder="From date" [value]="this.to"/>
    </label>
    <label for="to">To:
      <input type="datetime" name="to" formControlName="to" placeholder="To date" [value]="this.to"/>
    </label>
    <label for="severity">Severity:
      <select name="severity">
        <option value="Serious">Serious</option>
        <option value="Slight">Slight</option>
        <option selected value="Fatal">Fatal</option>
      </select>
    </label>
  </fieldset>
</section>
