<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net462" />
  <package id="Autofac.Owin" version="4.2.0" targetFramework="net461" />
  <package id="Autofac.WebApi2" version="4.0.0" targetFramework="net462" />
  <package id="Autofac.WebApi2.Owin" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NLog" version="3.2.1" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="Purplelight.Framework.Autofac.Integration.WebApi" version="0.2.2" targetFramework="net462" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net462" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net462" />
</packages>