<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Git.Domain.EntityFramework.AccidentStatisticDbContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AccidentStatisticsDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="TFLApiBaseUrl" value="https://api.tfl.gov.uk"/>
    <add key="CacheTimeInMinutes" value="60"/>
    <add key="MaximumYear" value="2017"/>
  </appSettings>
</configuration>