<section class="accident-query">
  <form [formGroup]="accidentStatisticsForm">
    <header>
      <h1>Accident Statistics Query Component</h1>
    </header>
    <fieldset>
      <label for="from"><strong>From(*)</strong> [alt+1]:
        <input name="from" type="date" formControlName="from" useValueAsDate autofocus required accesskey="1">
      </label>
      <label for="to"><strong>To</strong> [alt+2]:
        <input name="to" type="date" formControlName="to" useValueAsDate accesskey="2">
      </label>
      <label for="severity"><strong>Severity</strong> [alt+3]:
        <select name="severity" formControlName="severity" accesskey="3">
          <option value="Serious">Serious</option>
          <option value="Slight">Slight</option>
          <option value="Fatal">Fatal</option>
        </select>
      </label>
      <label for="pageSize"><strong>PageSize</strong> [alt+4]:
          <input type="number" min="1" max="100" formControlName="pageSize" accesskey="4">
        </label>
    </fieldset>
    <fieldset *ngIf="((pagedAccidentStatistics$|async))">
      <label for="out-json">Summary JSON ({{pagedAccidentStatistics?.total}}) :
        <pre *ngIf="error" class="error">{{error|json}}</pre>
        <pre name="out-json" class="result">{{pagedAccidentStatistics|json}}</pre>
      </label>
    </fieldset>
  </form>
</section>
