<section class="accident-query">
  <form [formGroup]="accidentStatisticsForm">
    <header>
      <h1>Accident Statistics Query Component</h1>
    </header>
    <fieldset>
      <label for="from"><strong>From(*)</strong> [alt+1]:
        <input name="from" type="date" formControlName="from" useValueAsDate autofocus required accesskey="1">
      </label>
      <label for="to"><strong>To</strong> [alt+2]:
        <input name="to" type="date" formControlName="to" useValueAsDate accesskey="2">
      </label>
      <label for="severity"><strong>Severity</strong> [alt+3]:
        <select name="severity" formControlName="severity" accesskey="3">
          <option value="Serious">Serious</option>
          <option value="Slight">Slight</option>
          <option value="Fatal">Fatal</option>
        </select>
      </label>
      <label for="pageSize"><strong>Page Size</strong> [alt+4]:
          <input type="number" min="1" max="100" formControlName="pageSize" accesskey="4">
      </label>
      <label for="sortBy"><strong>Order By</strong> [alt+5]:
        <select name="sortBy" formControlName="sortBy" accesskey="5">}
          <option value="DateAscending">Date asc</option>
          <option value="LocationAscending">Location asc</option>
          <option value="BoroughAscending" *ngIf="!accidentStatisticsForm.controls['useV1'].value">Borough asc</option>
          <option value="AccidentStatisticIdAscending" *ngIf="!accidentStatisticsForm.controls['useV1'].value">AccidentStatistic Id asc</option>
          <option value="TflIdAscending" *ngIf="!accidentStatisticsForm.controls['useV1'].value">Id asc</option>
          
          <option value="DateDescending">Date desc</option>
          <option value="LocaionDescending">Location desc</option>
          <option value="BoroughDescending" *ngIf="!accidentStatisticsForm.controls['useV1'].value">Borough desc</option>
          <option value="AccidentStatisticIdDescending" *ngIf="!accidentStatisticsForm.controls['useV1'].value">AccidentStatisticId desc</option>
          <option value="TflIdDescending" *ngIf="!accidentStatisticsForm.controls['useV1'].value">Id desc</option>
        </select>
      </label>
      <label for="useV1"><strong>Use Ver 1.0 Api</strong> [alt + 6]
          <input type="checkbox" formControlName="useV1" accesskey="6">
      </label>
    </fieldset>
    <fieldset *ngIf="((pagedAccidentStatistics$|async))">
      <label for="out-json">Summary JSON ({{pagedAccidentStatistics?.total}}) :
        <pre *ngIf="error" class="error">{{error|json}}</pre>
        <pre name="out-json" class="result">{{pagedAccidentStatistics|json}}</pre>
      </label>
    </fieldset>
  </form>
</section>
