section{
  margin: 10px;
  padding: 10px;
}

.accident-query {
  border: 1px yellow dashed;
  padding: 5px;
}

.error
 {
  background-color: orange;
  font-style: italic;
 }

 fieldset {
  border: 1px orange solid;
  margin: 5px;
 }

input {
  font-weight: 400;
}
label{
  font-weight:400;
}
label:not(:first-of-type),
label:only-child{
  font-weight: 100;
}

fieldset > label{
  margin-right: 10px;
}

pre {
  background-color: honeydew;
  min-height: 100px;
  word-wrap: break-word;
  padding: 20px;
}
